@font-face {
  font-family: 'Benguiat';
  src: url(font/Benguiat/Benguiat\Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Benguiat', serif;
}

html {
  color: #ffd22ee6;
}

/* ✅ FLEX для футера */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-image: url("image/wall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* контент росте */
.page-content {
  flex: 1;
}

/* GRID */
.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

.merch-header {
            padding: 120px 0 60px;
            background: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url('image/wall.jpg');
            background-size: cover;
            text-align: center;
            color: #f44336;
            font-family: 'Benguiat', serif;
            border-bottom: 3px solid #ffa600;
        }

        .merch-header h1 {
            font-size: 52px;
            text-shadow: 0 0 20px #ff0000;
        }

/* SIDES */
.left, .right {
  background-color: #000000e7;
  padding: 10px ;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-top: 100px;margin-bottom: 100px;
  text-align: center;
  display: flex;
  height: 700px;
  flex-direction: column;
  justify-content: space-between;
}

.left {
  grid-column: 2 / 4;
}

.right {
  grid-column: 6 / 8;
}

/* MAIN */
.main {
  grid-column: 4 / 6;
  background-color: #000000e7;
  padding: 20px;
  font-size: 20px;
  width: 700px;
  text-align: justify;
}

/* FOOTER */
footer {
  background: rgba(0,0,0,0.9);
  border-top: 2px solid #ff0000;
  box-shadow: 0 0 20px #ff0000;
  display: flex;
  justify-content: center;
  padding: 15px;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(0,0,0,0.9);
  border-bottom: 2px solid #ff0000;
  box-shadow: 0 0 20px #ff0000;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ff0000;
}
